*.class
*.log
*/.idea/
.idea
.target

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# React
node_modules/
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1975.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1976.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1977.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1978.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1979.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1980.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1981.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1982.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1983.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1984.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1985.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1986.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1987.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1988.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1989.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1990.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1991.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1992.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1993.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1994.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1995.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1996.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1997.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1998.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/1999.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2000.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2001.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2002.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2003.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2004.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2005.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2006.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2007.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2008.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2009.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2010.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2011.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2012.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2013.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2014.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/2015.csv
coursera/functional-programming-in-scala-capstone/observatory/src/main/resources/stations.csv
